body{
    background-color: #9AFF12;
}
h1{
    border: 1px solid #000000;
    border-radius: 15px;
    background-image: linear-gradient(to right, red, blue, skyblue);
    color: transparent;
    -webkit-background-clip: text; 
    font-family: "Tiro Devanagari Hindi", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 10vw 5vh;
  padding: 1px 1px;
  
}
header{
  border: 1px solid black;
  border-radius: 18px;
  background-color: black;
}
#hp1{
  color: white;
  margin: 3vh 4vw;
}
.story{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid #000000;
    border-radius: 15px;
    text-align: center;
    line-height: 3vh;
    
    margin: 10% 9%;
    padding: 7% 9%;
    background-color: deepskyblue;
}
footer{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    background-color: #FF1212;
    border: 1px solid;
    border-radius: 15px;
    padding: 3vh 5vw;
    margin: 10vh 7vw;
}